src/main/mule/ok.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_confill" doc:name="HTTP Listener config" doc:id="2b01be47-5b17-4556-b22a-5b2e716a00b1" >
		<http:listener-connection host="0.0.0.0" port="8085">
		</http:listener-connection>
	</http:listener-config>
	<import doc:name="Import" doc:id="f5eea825-1277-4e38-a81f-00e47f3d1e4a" file="first.xml" />
	<flow name="okFlow" doc:id="67b2e81e-cbe7-4dc0-9706-556509af84e3" >
		<http:listener doc:id="576e472c-9a3e-4099-bd0e-bd3484d4f725" config-ref="HTTP_Listener_confill" path="/api" />
		<logger level="INFO" doc:name="Logger" doc:id="4111c287-07fc-4c26-b2af-24102aed3c6c" message="123"/>
		<choice doc:name="Choice" doc:id="df0d558f-f807-4caa-8792-ec254925113d" >
			<when expression="#[payload.num &gt;1]">
				<ee:transform doc:name="Transform Message" doc:id="d1024492-7a7a-4874-ae00-8c72595509a4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output appliction/json
---
1 to 10]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="b42b1d07-dc73-4fea-8b6e-e87c61122a73" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output appliction/java
---
1 to 10]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
